{
    "schemes": ["https"],
    "swagger": "2.0",
    "info": {
        "description": "Welcome to Arrays!\n\nArrays is a unified financial data layer for both financial institutions and retail users, delivering comprehensive market data across crypto and equity markets. Our datasets cover fundamentals, ETFs, options, crypto, and more.\n\nVisit [arrays.org](https://arrays.org) to request an API key and start your free trial. You can explore our full API offerings in the documentation below.\n\nFor any questions regarding APIs or pricing, please contact support@arrays.org.",
        "title": "Arrays API",
        "contact": {},
        "version": "1.0"
    },
    "host": "data-tools.prd.arrays.org",
    "basePath": "/api",
    "paths": {
        "/v1/crypto/binance/perp/usdt/kline": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "[OpenAPI JSON Spec](/docs/output/v1_crypto_binance_perp_usdt_kline_get.json)\nRetrieve K-line (candlestick) chart data for a Binance perpetual USDT futures pair (no cursor).",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Crypto"
                ],
                "summary": "Binance perpetual USDT Kline data",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Crypto token symbol, ex: BTC, ETH, SOL",
                        "name": "symbol",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Start time (Unix timestamp in seconds, must be \u003e 0)",
                        "name": "start_time",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "End time (Unix timestamp in seconds, must be \u003e start_time)",
                        "name": "end_time",
                        "in": "query",
                        "required": true
                    },
                    {
                        "enum": [
                            "1min",
                            "2min",
                            "3min",
                            "5min",
                            "10min",
                            "15min",
                            "30min",
                            "45min",
                            "1h",
                            "2h",
                            "4h",
                            "6h",
                            "8h",
                            "12h",
                            "1d",
                            "3d",
                            "1w",
                            "1m",
                            "3m",
                            "6m"
                        ],
                        "type": "string",
                        "description": "Time interval for K-line data",
                        "name": "interval",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Maximum number of data points to return (default 500, max 10000)",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved K-line data",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/model.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/model.MarketKlineData"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/model.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/model.APIError"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/model.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/model.APIError"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/v1/crypto/binance/spot/usdt/kline": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "[OpenAPI JSON Spec](/docs/output/v1_crypto_binance_spot_usdt_kline_get.json)\nRetrieve K-line (candlestick) chart data for a Binance spot USDT trading pair (no cursor).",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Crypto"
                ],
                "summary": "Binance spot USDT Kline data",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Crypto token symbol, ex: BTC, ETH, SOL",
                        "name": "symbol",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Start time (Unix timestamp in seconds, must be \u003e 0)",
                        "name": "start_time",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "End time (Unix timestamp in seconds, must be \u003e start_time)",
                        "name": "end_time",
                        "in": "query",
                        "required": true
                    },
                    {
                        "enum": [
                            "1min",
                            "2min",
                            "3min",
                            "5min",
                            "10min",
                            "15min",
                            "30min",
                            "45min",
                            "1h",
                            "2h",
                            "4h",
                            "6h",
                            "8h",
                            "12h",
                            "1d",
                            "3d",
                            "1w",
                            "1m",
                            "3m",
                            "6m"
                        ],
                        "type": "string",
                        "description": "Time interval for K-line data",
                        "name": "interval",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Maximum number of data points to return (default 500, max 10000)",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved K-line data",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/model.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/model.MarketKlineData"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/model.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/model.APIError"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/model.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/model.APIError"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/v1/crypto/detail": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "**Feature Overview**\n[OpenAPI JSON Spec](/docs/output/v1_crypto_detail_get.json)\nGet detailed information for a specific token by its symbol, including real-time price, trading volume, price changes, and other key metrics. Suitable for token detail pages, price monitoring, investment analysis, and other scenarios.\n\n**Time Window Configuration**\n\nSupports flexible time range settings to calculate price changes and trading data:\n\n**Method 1: Dynamic Time Window** (Recommended)\n- `1min`: Last 1 minute (suitable for ultra-short-term trading)\n- `15min`: Last 15 minutes (suitable for short-term trading)\n- `60min`: Last 1 hour  (suitable for intraday trading)\n- `24h`: Last 24 hours (default, suitable for daily monitoring)\n\n**Method 2: Custom Time Range**\n- Specify both `start_time` and `end_time`\n- Time format: Unix timestamp (seconds)\n- Suitable for analyzing data from specific time periods\n\n**Response Data Description**\n\n| Field | Type | Description | Example |\n|-------|------|-------------|---------|\n| symbol | string | Token symbol | \"BTC\" |\n| address | string | Contract address | \"0x...\" |\n| chain_type | integer | Blockchain type | 1 (ETH) |\n| open_price | number | Opening price | 45000.0 |\n| close_price | number | Closing price (current price) | 46500.0 |\n| high_price | number | Highest price | 47200.0 |\n| low_price | number | Lowest price | 44800.0 |\n| price_change | number | Price change rate | 0.033 (3.3% gain) |\n| total_volume | number | Total trading volume | 2500000000.0 |\n| logo | string | Token logo URL | \"https://...\" |\n| website_url | string | Official website | \"https://bitcoin.org\" |\n| twitter_url | string | Twitter link | \"https://twitter.com/...\" |\n\n**Usage Examples**\n\n1. **Get BTC 24-hour data**: `?symbol=BTC\u0026interval=24h`\n2. **Get ETH 1-hour data**: `?symbol=ETH\u0026interval=60min`\n3. **Get data for specific time period**: `?symbol=USDT\u0026start_time=1640995200\u0026end_time=1641081600`\n\n**Best Practices**\n\n- Short intervals (1min/15min) for real-time monitoring\n- 24h interval for long-term analysis\n- Combine with scheduled requests for price tracking\n\n**Important Notes**\n\n- Symbol parameter is required (cannot be empty)\n- Specify either interval or both start_time \u0026 end_time",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Crypto"
                ],
                "summary": "Get Detailed Token Information by Symbol",
                "parameters": [
                    {
                        "enum": [
                            "1min",
                            "15min",
                            "60min",
                            "24h"
                        ],
                        "type": "string",
                        "default": "24h",
                        "description": "Dynamic time window (1min, 15min, 60min, 24h). This parameter is required if start_time and end_time are not provided. default(24h)",
                        "name": "interval",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Start of the time range (Unix timestamp, seconds since epoch) example: 1751800881.",
                        "name": "start_time",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "End of the time range (Unix timestamp, seconds since epoch). example: 1751887292.",
                        "name": "end_time",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Token symbol",
                        "name": "symbol",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/model.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/model.Token"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/model.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/model.APIError"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "404": {
                        "description": "Token not found",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/model.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/model.APIError"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/model.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/model.APIError"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/v1/crypto/exchange-flows": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "[OpenAPI JSON Spec](/docs/output/v1_crypto_exchange-flows_get.json)\nGet crypto exchange inflow/outflow data for BTC and ETH from Binance.\nReturns hourly aggregated data of token inflow and outflow on exchange.\nSymbol parameter is case-insensitive (e.g., BTC, btc, Btc are all valid).",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Crypto"
                ],
                "summary": "Get Crypto Exchange Flows",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Token symbol (case-insensitive, e.g., BTC, btc, ETH, eth)",
                        "name": "symbol",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "format": "int64",
                        "description": "Start time (Unix timestamp in seconds)",
                        "name": "start_time",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "format": "int64",
                        "description": "End time (Unix timestamp in seconds)",
                        "name": "end_time",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "format": "int32",
                        "description": "Maximum number of records (default: 50, max: 1000)",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "hour",
                            "day"
                        ],
                        "type": "string",
                        "description": "Time window granularity (hour/day). Default: hour",
                        "name": "window",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully returns crypto exchange flows data",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/model.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/model.CryptoExchangeFlowData"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Parameter validation error",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/model.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "$ref": "#/definitions/model.APIError"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "404": {
                        "description": "Resource not found",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/model.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "$ref": "#/definitions/model.APIError"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "500": {
                        "description": "Internal server error - gRPC service failure",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/model.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "$ref": "#/definitions/model.APIError"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/v1/crypto/fear-greed-index": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "[OpenAPI JSON Spec](/docs/output/v1_crypto_fear-greed-index_get.json)\nGet the Crypto Fear \u0026 Greed Index time series within the given range.\n\n**Overview**\nThe Fear \u0026 Greed Index measures market sentiment on a 0-100 scale:\n- 0-25: Extreme Fear (may indicate buying opportunities)\n- 25-50: Fear\n- 50-75: Greed\n- 75-100: Extreme Greed (may indicate overheated market)\n\n**Response Fields**\n- timestamp: Unix timestamp in seconds (UTC)\n- value: Index value (0-100)\n- time: Human-readable datetime string (YYYY-MM-DD HH:MM:SS, UTC)\n\n**Usage Examples**\n- Last 30 days: `?start_time=\u003cnow-30d\u003e\u0026end_time=\u003cnow\u003e`\n- Specific range: `?start_time=1704067200\u0026end_time=1706745600`",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Crypto"
                ],
                "summary": "Get Fear \u0026 Greed Index",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "int64",
                        "description": "Start time (Unix timestamp in seconds)",
                        "name": "start_time",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "format": "int64",
                        "description": "End time (Unix timestamp in seconds). Must be greater than start_time",
                        "name": "end_time",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully returns fear \u0026 greed data",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/model.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/model.FearGreedPoint"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Parameter validation error",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/model.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "$ref": "#/definitions/model.APIError"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/model.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "$ref": "#/definitions/model.APIError"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/v1/crypto/funding-rate": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "[OpenAPI JSON Spec](/docs/output/v1_crypto_funding-rate_get.json)\n**Feature Overview**\nGet funding rate data for a specific trading pair with required time range filtering.\n\n**Main Use Cases**\n- **Perpetual Futures Trading**: Monitor funding rates for perpetual futures contracts\n- **Trading Strategy**: Use funding rates as a market sentiment indicator\n- **Risk Management**: Monitor funding costs for positions\n- **Technical Analysis**: Analyze funding rate trends over time\n\n**Query Parameters \u0026 Logic**\n\n**Required Parameters:**\n- `symbol`: Trading pair symbol (e.g., BTCUSDT)\n- `exchange`: Exchange name (currently only supports `binance`)\n- `start_time`: Start timestamp (Unix seconds) - required\n- `end_time`: End timestamp (Unix seconds) - required, must be after start_time\n- `limit`: Maximum number of results to return (1-1000, required)\n\n**Validation Rules:**\n- Symbol is required and must be a valid trading pair\n- Exchange must be `binance`\n- start_time must be before end_time\n- Limit range: 1-1000, required\n\n**Response Data Structure**\n\n- `data` ([]FundingRateData): Array of funding rate data points\n- `count` (int32): Actual number of data points returned\n- `latest_time` (string): Timestamp of the most recent data point (Unix seconds as string)\n\n**FundingRateData fields:**\n- `symbol` (string): Trading pair symbol (e.g., \"BTCUSDT\")\n- `funding_rate` (string): Funding rate in string format\n- `timestamp` (string): Unix timestamp in seconds as string (e.g., \"1763978100\")\n\n**Usage Examples**\n\n1. **Get funding rate data for specific time range**: `?symbol=BTCUSDT\u0026exchange=binance\u0026start_time=1761502255\u0026end_time=1764094255\u0026limit=100`\n2. **Get maximum data points**: `?symbol=ETHUSDT\u0026exchange=binance\u0026start_time=1761502255\u0026end_time=1764094255\u0026limit=1000`\n\n**Important Notes**\n\n- All parameters are required\n- Results are ordered by timestamp in ascending order\n- Funding rate represents the periodic payment between long and short positions\n- Funding rates are settled by the exchange at fixed intervals (every 8 hours for Binance)\n- No interval parameter needed as settlement times are predetermined by the exchange",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Crypto"
                ],
                "summary": "Get Funding Rate Data",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Crypto token symbol (e.g., BTC, ETH, SOL)",
                        "name": "symbol",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "format": "int64",
                        "description": "Start timestamp (Unix seconds)",
                        "name": "start_time",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "format": "int64",
                        "description": "End timestamp (Unix seconds)",
                        "name": "end_time",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "format": "int32",
                        "default": 30,
                        "description": "Maximum number of results (1-1000, default: 30)",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "binance"
                        ],
                        "type": "string",
                        "default": "binance",
                        "description": "Exchange name (only binance supported, default: binance)",
                        "name": "exchange",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully returns funding rate data",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/model.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/model.FundingRateData"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Parameter validation error",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/model.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "$ref": "#/definitions/model.APIError"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "404": {
                        "description": "Trading pair not found",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/model.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "$ref": "#/definitions/model.APIError"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "500": {
                        "description": "Internal server error - gRPC service failure",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/model.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "$ref": "#/definitions/model.APIError"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/v1/crypto/futures/ohlcv": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "[OpenAPI JSON Spec](/docs/output/v1_crypto_futures_ohlcv_get.json)\nRetrieve K-line (candlestick) chart data for a specified crypto token futures using a non-cursor gRPC endpoint to reduce latency.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Crypto"
                ],
                "summary": "Crypto Token Future Kline data (no cursor pagination)",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Crypto token symbol, ex: BTC, ETH, SOL",
                        "name": "symbol",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Start time (Unix timestamp in seconds, must be \u003e 0)",
                        "name": "start_time",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "End time (Unix timestamp in seconds, must be \u003e start_time)",
                        "name": "end_time",
                        "in": "query",
                        "required": true
                    },
                    {
                        "enum": [
                            "1min",
                            "2min",
                            "3min",
                            "5min",
                            "10min",
                            "15min",
                            "30min",
                            "45min",
                            "1h",
                            "2h",
                            "4h",
                            "6h",
                            "8h",
                            "12h",
                            "1d",
                            "3d",
                            "1w",
                            "1m",
                            "3m",
                            "6m"
                        ],
                        "type": "string",
                        "description": "Time interval for K-line data",
                        "name": "interval",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Maximum number of data points to return (default 500, max 10000)",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved K-line data",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/model.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/model.KlineData"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/model.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/model.APIError"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/model.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/model.APIError"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/v1/crypto/holdings": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "[OpenAPI JSON Spec](/docs/output/v1_crypto_holdings_get.json)\n**Feature Overview**\nRetrieve company crypto holdings filtered by token symbol.\n\n**Supported Tokens:** BTC, ETH, SOL, BNB\n\n**Filters (optional):**\n- `crypto_nav_to_market_cap_ratio_min` / `crypto_nav_to_market_cap_ratio_max`: range [0, 2]\n- `limit`: 1-100, default unlimited (server caps at 100)\n\n**Implementation:** Served from an in-memory snapshot refreshed every\n10 minutes. The underlying CoinGecko sync runs daily, so the cache\nis always within one refresh window of the freshest available data.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Crypto"
                ],
                "summary": "Get Company Crypto Holdings",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Token symbol (BTC, ETH, SOL, or BNB)",
                        "name": "symbol",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "number",
                        "format": "float64",
                        "description": "Minimum NAV/market cap ratio (0-2)",
                        "name": "crypto_nav_to_market_cap_ratio_min",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "format": "float64",
                        "description": "Maximum NAV/market cap ratio (0-2)",
                        "name": "crypto_nav_to_market_cap_ratio_max",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "format": "int32",
                        "description": "Result limit (1-100)",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Company crypto holdings",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/model.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/model.CryptoHoldingInfo"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Parameter validation error",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "503": {
                        "description": "Cache not yet warmed up",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    }
                }
            }
        },
        "/v1/crypto/hyperliquid/perp/funding-rate": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "[OpenAPI JSON Spec](/docs/output/v1_crypto_hyperliquid_perp_funding-rate_get.json)\nHourly funding rate history for a Hyperliquid PERP pair (core or HIP-3).",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Crypto"
                ],
                "summary": "Get Hyperliquid Funding Rate",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Canonical base symbol (e.g., BTC, ETH, NVDA)",
                        "name": "symbol",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "format": "int64",
                        "description": "Start timestamp (Unix seconds)",
                        "name": "start_time",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "format": "int64",
                        "description": "End timestamp (Unix seconds)",
                        "name": "end_time",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "format": "int32",
                        "description": "Maximum results (1-1000, default 100)",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "asc",
                            "desc"
                        ],
                        "type": "string",
                        "description": "asc or desc (default desc)",
                        "name": "sort_order",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/model.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/model.HyperliquidFundingRate"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/model.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "$ref": "#/definitions/model.APIError"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/model.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "$ref": "#/definitions/model.APIError"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/v1/crypto/hyperliquid/perp/usdc/kline": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "[OpenAPI JSON Spec](/docs/output/v1_crypto_hyperliquid_perp_usdc_kline_get.json)\nReturns OHLCV candles for a Hyperliquid perpetual trading pair\n(standard or HIP-3). symbol is the canonical base token (e.g. BTC, AAPL); the quote currency is USDC (in the URL path).\nIncomplete (in-progress) candles are excluded.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Crypto"
                ],
                "summary": "Hyperliquid perp kline (candles)",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Canonical base token, e.g. BTC",
                        "name": "symbol",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "One of: 1min, 5min, 15min, 30min, 1h, 4h, 1d, 1w, 1m",
                        "name": "interval",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Unix seconds",
                        "name": "start_time",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Unix seconds, \u003e start_time",
                        "name": "end_time",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "1..10000, default 500",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/model.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/model.MarketKlineData"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/model.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/model.APIError"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/model.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/model.APIError"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/v1/crypto/hyperliquid/spot/usdc/kline": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "[OpenAPI JSON Spec](/docs/output/v1_crypto_hyperliquid_spot_usdc_kline_get.json)\nReturns OHLCV candles for a Hyperliquid spot trading pair.\nsymbol is the canonical base token (e.g. BTC, AAPL); the quote currency is USDC (in the URL path).\nIncomplete (in-progress) candles are excluded.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Crypto"
                ],
                "summary": "Hyperliquid spot kline (candles)",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Canonical base token, e.g. BTC",
                        "name": "symbol",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "One of: 1min, 5min, 15min, 30min, 1h, 4h, 1d, 1w, 1m",
                        "name": "interval",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Unix seconds",
                        "name": "start_time",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Unix seconds, \u003e start_time",
                        "name": "end_time",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "1..10000, default 500",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/model.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/model.MarketKlineData"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/model.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/model.APIError"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/model.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/model.APIError"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/v1/crypto/kline": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "**Feature Overview**\n\n[OpenAPI JSON Spec](/docs/output/v1_crypto_kline_get.json)\nRetrieve K-line (candlestick) chart data for a specified trading pair\n\n**Performance Optimization Features**\n\nThis API uses a multi-layer optimization architecture to ensure high performance:\n\n**1. TimescaleDB Materialized Views**\n- **Continuous Aggregation**: Automatically pre-compute aggregated data, improving query speed by 10-100x\n- **Auto Refresh**: Materialized views are automatically updated to ensure data timeliness\n\n**2. Intelligent Data Source Selection**\n- The system automatically selects the optimal data source based on the query time range\n- Short-term queries use the raw table, long-term queries use materialized views\n- Balances data accuracy and query performance\n\n**Supported Time Intervals**\n\n| Interval | Description | Use Case | Data Source |\n|----------|-------------|----------|------------|\n| `1min`   | 1-minute K-line | Short-term trading, real-time monitoring | Raw table + real-time calculation |\n| `5min`   | 5-minute K-line | Short-term analysis, intraday trading | Materialized view |\n| `15min`  | 15-minute K-line | Medium-short-term analysis | Materialized view |\n| `1h`     | 1-hour K-line | Intraday swing analysis | Materialized view |\n| `1d`     | Daily K-line | Long-term trend, fundamental analysis | Materialized view |\n\n**Parameter Configuration Details**\n\n**Required Parameters:**\n- `symbol`: binance supported token symbol, ex: BTC, ETH, SOL.\n- `start_time`: Start timestamp (seconds), must be \u003e 0\n- `end_time`: End timestamp (seconds), must be \u003e start_time\n- `interval`: Time interval, must be one of the supported values\n\n**Time Range Calculation**\n\n```bash\n# Get last 24 hours of 1-hour K-line\nend_time=$(date +%s)\nstart_time=$((end_time - 24*3600))\n\n# Get last 7 days of daily K-line\nend_time=$(date +%s)\nstart_time=$((end_time - 7*24*3600))\n```\n\n**Response Data Structure**\n\n| Field        | Type    | Description                  | Example                  |\n|-------------|---------|------------------------------|--------------------------|\n| count        | integer | Number of K-lines returned   | 24                       |\n| symbol      | string | token symbol        | \"BTC\"                        |\n| interval     | string  | Time interval                | \"1h\"                     |\n| start_time   | integer | Actual start timestamp       | 1752112043               |\n| end_time     | integer | Actual end timestamp         | 1752742043               |\n| data         | array   | Array of K-line data         | [KlineData, ...]         |\n\n**Each K-line data item includes:**\n- `time`: K-line timestamp\n- `open_price`: Opening price\n- `high_price`: Highest price\n- `low_price`: Lowest price\n- `close_price`: Closing price\n- `volume`: Trading volume\n- `quote_volume`: Quote currency trading volume\n- `trades`: Number of trades\n- `buy_base_volume`: Active buy trading volume\n- `buy_quote_volume`: Active buy quote currency volume\n\n**Common Query Examples**\n\n1. **Real-time 1-hour chart** (last 24 hours):\n`?symbol=BTC\u0026start_time=1752112043\u0026end_time=1752742043\u0026interval=1h\u0026limit=24`\n\n2. **Daily K-line chart** (last 30 days):\n`?symbol=BTC\u0026start_time=1752112043\u0026end_time=1643587200\u0026interval=1d\u0026limit=30`\n\n3. **Short-term 5-minute chart** (last 4 hours):\n`?symbol=BTC\u0026start_time=1641067200\u0026end_time=1752742043\u0026interval=5min\u0026limit=48`\n\n4. **High-frequency 1-minute data** (last 1 hour):\n`?symbol=BTC\u0026start_time=1641078000\u0026end_time=1752742043\u0026interval=1min\u0026limit=60`\n\n**Mobile Optimization Suggestions**\n\n- Use a smaller limit value (100-300) to reduce data transfer\n- Prefer intervals of 5min or above to reduce data volume\n- Implement paginated loading to fetch historical data as needed\n- Use WebSocket for real-time updates instead of frequent polling\n\n**Important Notes**\n\n- **Timestamp Format**: Use Unix timestamp (seconds), not milliseconds\n- **Price Precision**: Price data is returned as string for precision, convert to numeric type when using\n- **Rate Limiting**: Please control request frequency to avoid excessive queries",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Crypto"
                ],
                "summary": "Crypto Token Kline data from Binance, all price quote is in USDT",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Crypto token symbol, ex: BTC, ETH, SOL",
                        "name": "symbol",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Start time (Unix timestamp in seconds, must be \u003e 0)",
                        "name": "start_time",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "End time (Unix timestamp in seconds, must be \u003e start_time)",
                        "name": "end_time",
                        "in": "query",
                        "required": true
                    },
                    {
                        "enum": [
                            "1min",
                            "2min",
                            "3min",
                            "5min",
                            "10min",
                            "15min",
                            "30min",
                            "45min",
                            "1h",
                            "2h",
                            "4h",
                            "6h",
                            "8h",
                            "12h",
                            "1d",
                            "3d",
                            "1w",
                            "1m",
                            "3m",
                            "6m"
                        ],
                        "type": "string",
                        "description": "Time interval for K-line data",
                        "name": "interval",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Cursor for pagination",
                        "name": "cursor",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Maximum number of data points to return (default 500, max 10000)",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved K-line data",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/model.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/model.GetKlineDataResponse"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/model.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/model.APIError"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/model.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/model.APIError"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/v1/crypto/list": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "**Feature Overview**\n[OpenAPI JSON Spec](/docs/output/v1_crypto_list_get.json)\nGet a list of tokens by blockchain type, supporting symbol search and pagination. Suitable for displaying tokens by blockchain category, multi-chain wallets, and cross-chain analysis.\n\n**Supported Blockchain Types**\n\n| Type Value | Blockchain | Description | Typical Tokens |\n|-----------|------------|-------------|---------------|\n| 0         | Bitcoin (BTC) | Bitcoin network | BTC |\n| 1         | Ethereum (ETH) | Ethereum network | ETH, USDT, USDC, UNI |\n| 2         | BSC (Binance Smart Chain) | Binance Smart Chain | BNB, CAKE, BUSD |\n| 3         | Base | Coinbase L2 network | BASE ecosystem tokens |\n| 4         | Solana (SOL) | Solana network | SOL, USDC-SOL |\n| 99        | OTHER | Other blockchains | Tokens on other chains |\n\n**Search Functionality**\n\nSupports searching tokens by the `symbol` parameter:\n- **Case-insensitive**: btc, BTC, Btc all match BTC\n- **Quick Filtering**: Quick filtering (find target tokens among large datasets)\n\n**Pagination Parameter Details**\n\n| Parameter | Default | Range | Description |\n|----------|---------|-------|-------------|\n| limit    | 10      | 1-500 | Number of tokens returned per page |\n| offset   | 0       | ≥0    | Pagination offset for page turning |\n\n**Pagination Examples**:\n- Page 1: `offset=0, limit=20` (returns tokens 1-20)\n- Page 2: `offset=20, limit=20` (returns tokens 21-40)\n- Page 3: `offset=40, limit=20` (returns tokens 41-60)\n\n**Common Query Examples**\n\n1. **All tokens on Ethereum**: `?chain_type=1\u0026limit=50`\n2. **USDT-related tokens on BSC**: `?chain_type=2\u0026symbol=USDT\u0026limit=10`\n3. **Popular tokens on Solana**: `?chain_type=4\u0026limit=20`\n4. **Bitcoin network**: `?chain_type=0` (usually only BTC)\n5. **Search for UNI token**: `?chain_type=1\u0026symbol=UNI`\n\nEach token includes the following information:\n- Basic info: symbol, address, chain_type\n- Media info: logo, website_url, twitter_url\n\n**Important Notes**\n\n- chain_type is a required parameter and must be a valid value",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Crypto"
                ],
                "summary": "Get Tokens by Blockchain Type",
                "parameters": [
                    {
                        "enum": [
                            0,
                            1,
                            2,
                            3,
                            4,
                            99
                        ],
                        "type": "integer",
                        "default": 99,
                        "description": "Blockchain type (0: BTC, 1: ETH, 2: BSC, 3: BASE, 4: SOL, 99: OTHER)",
                        "name": "chain_type",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Token symbol to search (case-insensitive partial match)",
                        "name": "symbol",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "default": 10,
                        "description": "Number of items per page (default: 10, max: 500)",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "default": 0,
                        "description": "Offset for pagination (default: 0)",
                        "name": "offset",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved tokens",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/model.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/model.Token"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/model.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/model.APIError"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/model.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/model.APIError"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/v1/crypto/long-short-ratio": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "**Feature Overview**\n[OpenAPI JSON Spec](/docs/output/v1_crypto_long-short-ratio_get.json)\nGet long short ratio data for a specific trading pair symbol with time range filtering.\n\n**Main Use Cases**\n- **Market Sentiment Analysis**: Track the ratio of long to short positions over time\n- **Trading Strategy**: Use long/short ratio as a contrarian or confirmation indicator\n- **Risk Management**: Monitor extreme positioning in the market\n- **Technical Analysis**: Combine with price action for comprehensive analysis\n\n**Query Parameters \u0026 Logic**\n\n**Required Parameters:**\n- `symbol`: Trading pair symbol (e.g., BTCUSDT)\n- `start_time`: Start timestamp (Unix seconds)\n- `end_time`: End timestamp (Unix seconds)\n\n**Optional Parameters:**\n- `limit`: Maximum number of results to return (1-1000, default: 30)\n- `exchange`: Exchange name (only \"binance\" supported, default: binance)\n- `interval`: Time interval (only \"1d\" supported, default: 1d)\n\n**Supported Intervals:**\n- `1d`: 1-day intervals (default)\n\n**Validation Rules:**\n- Symbol is required and must be a valid trading pair\n- start_time must be before end_time\n- Limit defaults to 30 if not provided, max 1000\n- Exchange defaults to \"binance\" if not provided\n- Interval defaults to \"1d\" if not provided\n\n**Response Data Structure**\n\n- `data` ([]LongShortRatioData): Array of long short ratio data points (latest first, reverse chronological order)\n- `count` (int32): Actual number of data points returned (0-1000)\n- `latest_time` (string): Timestamp of the most recent data point (Unix seconds as string)\n\n**LongShortRatioData fields:**\n- `symbol` (string): Trading pair symbol (e.g., \"BTCUSDT\")\n- `long_short_ratio` (string): Long/Short ratio in string format (e.g., \"2.2798\" means 2.28:1 long:short)\n- `long_account_ratio` (number): Long account proportion (e.g., 0.65 means 65% of accounts are long; 0 when source data is missing)\n- `short_account_ratio` (number): Short account proportion (e.g., 0.35 means 35% of accounts are short; 0 when source data is missing)\n- `timestamp` (string): Unix timestamp in seconds as string (e.g., \"1763978100\")\n\n**Data Interpretation:**\n- longShortRatio \u003e 1.0: More accounts are long (bullish sentiment)\n- longShortRatio = 1.0: Equal long and short positions (neutral)\n- longShortRatio \u003c 1.0: More accounts are short (bearish sentiment)\n\n**Usage Examples**\n\n1. **Minimal request (uses defaults)**: `?symbol=BTCUSDT\u0026start_time=1733270400\u0026end_time=1733356800`\n2. **With custom limit**: `?symbol=BTCUSDT\u0026start_time=1733270400\u0026end_time=1733356800\u0026limit=100`\n3. **Full parameters**: `?symbol=BTCUSDT\u0026start_time=1733270400\u0026end_time=1733356800\u0026limit=100\u0026interval=5min\u0026exchange=binance`\n\n**Important Notes**\n\n- All required parameters must be provided\n- Results are ordered by timestamp in ascending order\n- Higher long/short ratio indicates more bullish sentiment\n- Data is provided in 1-day intervals (1d)",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Crypto"
                ],
                "summary": "Get Long Short Ratio Data",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Crypto token symbol (e.g., BTC, ETH, SOL)",
                        "name": "symbol",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "format": "int64",
                        "description": "Start timestamp (Unix seconds)",
                        "name": "start_time",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "format": "int64",
                        "description": "End timestamp (Unix seconds)",
                        "name": "end_time",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "format": "int32",
                        "default": 30,
                        "description": "Maximum number of results (1-1000, default: 30)",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "binance"
                        ],
                        "type": "string",
                        "default": "binance",
                        "description": "Exchange name (only binance supported, default: binance)",
                        "name": "exchange",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "1d"
                        ],
                        "type": "string",
                        "default": "1d",
                        "description": "Time interval (only 1d supported, default: 1d)",
                        "name": "interval",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully returns long short ratio data",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/model.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/model.LongShortRatioData"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Parameter validation error",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/model.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "$ref": "#/definitions/model.APIError"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "404": {
                        "description": "Trading pair not found",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/model.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "$ref": "#/definitions/model.APIError"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "500": {
                        "description": "Internal server error - gRPC service failure",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/model.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "$ref": "#/definitions/model.APIError"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/v1/crypto/market-cap": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "[OpenAPI JSON Spec](/docs/output/v1_crypto_market-cap_get.json)\n**Feature Overview**\n\nGet historical market capitalization data for a specific cryptocurrency token.\nThis endpoint returns time series data showing how the token's market cap has changed over time.\n\n**Query Parameters**\n\n| Parameter   | Type   | Required | Description                                          |\n|-------------|--------|----------|------------------------------------------------------|\n| symbol      | string | Yes      | Token symbol (e.g., BTC, ETH)                       |\n| start_time  | int64  | Yes      | Start timestamp (Unix seconds), must be \u003e 0         |\n| end_time    | int64  | Yes      | End timestamp (Unix seconds), must be \u003e 0           |\n| interval    | string | No       | Data interval - day-level or above only (e.g., 1d, 2d, 7d, 14d, 30d, 60d, 90d, 365d) |\n\n**Important Notes**\n\n- The `interval` parameter only supports **day-level or above** aggregation\n- Supported intervals: 1d, 2d, 3d, 7d, 14d, 15d, 30d, 60d, 90d, 365d, etc.\n- Hour-level intervals (e.g., 1h, 2h, 12h) are **NOT supported**\n\n**Response Data**\n\nReturns an array of market cap data points, each containing:\n- symbol: Token symbol\n- name: Token name\n- timestamp: Unix timestamp (seconds)\n- date: Human-readable date (YYYY-MM-DD HH:mm:ss, UTC+0)\n- marketCap: Market capitalization in USD\n",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Crypto"
                ],
                "summary": "Get Token Market Cap History",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Token symbol (e.g., BTC, ETH)",
                        "name": "symbol",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "format": "int64",
                        "description": "Start timestamp (Unix seconds), must be greater than 0",
                        "name": "start_time",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "format": "int64",
                        "description": "End timestamp (Unix seconds), must be greater than 0",
                        "name": "end_time",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Data interval - day-level or above only (e.g., 1d, 7d, 30d)",
                        "name": "interval",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved market cap history",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/model.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/model.TokenMarketCapItem"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/model.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/model.APIError"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/model.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/model.APIError"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/v1/crypto/market-metrics": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "[OpenAPI JSON Spec](/docs/output/v1_crypto_market-metrics_get.json)\nRetrieve time series data for various crypto market indicators, including technical and fundamental metrics.\n\n**Overview**\nThis endpoint provides market indicators for cryptocurrencies across different time intervals (1d, 1w, 1m).\nIndicators include technical analysis tools (MA, EMA, RSI, etc.) and crypto fundamentals (Market Cap, FDV, etc.).\n\n**Supported Indicators**\n- **MARKET_CAP**: Market capitalization\n- **FDV**: Fully Diluted Valuation\n- **PRICE_CHANGE**: `PRICE_CHANGE_1d`, `PRICE_CHANGE_1w`, `PRICE_CHANGE_1M`, `PRICE_CHANGE_3M`, `PRICE_CHANGE_6M`, `PRICE_CHANGE_ytd`, `PRICE_CHANGE_1y`, `PRICE_CHANGE_3y`, `PRICE_CHANGE_5y`\n- **MA**: `MA_5`, `MA_10`, `MA_20`, `MA_60`, `MA_120`, `MA_200`\n- **EMA**: `EMA_5`, `EMA_10`, `EMA_20`, `EMA_60`, `EMA_120`, `EMA_200`\n- **RSI**: `RSI_14`\n- **MACD**: `MACD_12,26,9`\n- **BOLLINGER**: `BOLLINGER_20,2`\n- **BETA**: `BETA` (default period is `BTC_365`; interval must be `1d`)\n- **VOLATILITY**: `VOLATILITY_20`, `VOLATILITY_60`, `VOLATILITY_90`\n\n**Validation Rules**\n- **Required Parameters**: interval, indicator, start_time, end_time.\n- **Interval**: Must be one of `1d`, `1w`, `1m`.\n- **Time Range**: `start_time` must be less than `end_time`.\n",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Crypto"
                ],
                "summary": "Get Crypto Market Metrics Time Series Data",
                "parameters": [
                    {
                        "enum": [
                            "1d",
                            "1w",
                            "1m"
                        ],
                        "type": "string",
                        "description": "Time interval",
                        "name": "interval",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Indicator type (e.g., MA_20, PRICE_CHANGE_1d, MARKET_CAP, FDV)",
                        "name": "indicator",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Token symbol (optional, e.g., BTC, ETH, SOL)",
                        "name": "symbol",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "format": "int64",
                        "description": "Start time (Unix timestamp in seconds)",
                        "name": "start_time",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "format": "int64",
                        "description": "End time (Unix timestamp in seconds)",
                        "name": "end_time",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved crypto market metrics data",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/model.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/model.MarketSymbolMetricData"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/model.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "$ref": "#/definitions/model.APIError"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/model.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "$ref": "#/definitions/model.APIError"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/v1/crypto/metrics/inflow-cdd": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
[...]
